.stack-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stack-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.stack-grid img {
    height: 128px;
}

@media (max-width: 321px) {
    .stack-grid img {
        height: 110px;
    }
}